In [2]:
import pandas_datareader.data as web

df = web.DataReader("005930", "naver", start="2023-11-20", end="2023-12-05")
display(df.head())

             Open   High    Low  Close    Volume
Date
2023-11-20  72100  73000  72100  72700  10610157
2023-11-21  73100  73400  72700  72800   9712881
2023-11-22  72200  73000  71900  72800  11105143
2023-11-23  73000  73200  72200  72400   6775614
2023-11-24  72400  72600  71700  71700   6676685