# pandas-datareader로 차트 데이터 획득하기

https://pandas-datareader.readthedocs.io/en/latest/

In [1]:
import pandas_datareader.data as web

df = web.DataReader("005930", "naver", start="2023-11-20", end="2023-12-05")
display(df.head())

ModuleNotFoundError: No module named 'pandas_datareader'

In [3]:
from pandas_datareader import data as pdr
import yfinance as yf

yf.pdr_override()

df = pdr.get_data_yahoo("035420.KS", start="2021-12-01", end="2021-12-31")
display(df.head())

[*********************100%%**********************]  1 of 1 completed

                Open      High       Low     Close     Adj Close  Volume
Date
2021-12-01  385000.0  392500.0  382000.0  390000.0  387706.18750  548840
2021-12-02  382500.0  399000.0  382000.0  398500.0  396156.21875  613006
2021-12-03  397500.0  402000.0  394500.0  402000.0  399635.62500  501099
2021-12-06  400500.0  400500.0  389500.0  392000.0  389694.43750  456773
2021-12-07  390500.0  392500.0  388500.0  391000.0  388700.28125  384366